<html>
  <head>
    <title>demo</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container" data-ng-app="myApp" data-ng-controller="myCtrl">
      <table>
        <tr>
          <th>Name</th>
          <th>Birthday</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Major</th>
          <th>CV Content</th>
        </tr>
        <tr data-ng-repeat="customer in people | filter: table">
          <td>Garp</td>
          <td>Garp</td>
          <td>Garp</td>
          <td>Garp</td>
          <td>Garp</td>
          <td>Garp</td>
          <td>
            HO HUY HOANG JAVA DEVELOPER INTERN CONTACT INFORMATION  16/04/2000  Male  0342229515 
            hoangho1147@gmail.com  Ho Chi Minh City, Vietnam  facebook.com/hohuyhoangg OBJECTIVES - Accumulating
            experience & Learning new technologies and skills. - Partaking in the growth and success of the company
            where I work for & Striving to become a senior software developer (web, android,...) in the future.
            PROGRAMING SKILLS JAVA CORE JAVA JSP/SERVLET .NET CORE HTML/CSS MYSQL/SQL SERVER ENGLISH EDUCATION Ho Chi
            Minh City University of Technology and Education Major: Information Technology GPA (Current) : 8.38/10
            EDUCATIONAL PROJECTS LIBRARY MANAGER version 1.0 Final project of Object Oriented Programming - Team of 2. -
            Programming language: C# - WPF Application & Java Console - Design pattern: Model - View - ViewModel. -
            Database: XML file. Simple Paint & Anti Corona Game Mid project of Windows Programming - Team of 2. -
            Programming language: C# - Winform Application. - Database: TXT file. LIBRARY MANAGER version 2.0 Final
            project of Windows Programming course - Team of 2. - Programming language: C# - Winform Application. -
            Design pattern: Model - View - Controller. - RDBMS: SQL Server. - ORM: ADO. NET & Entity Framework.
            Ecommerce Website Final project of Web Programming - Team of 4. - Programming language: Java JSP/SERVLET -
            Design pattern: Model - View - Controller. - Database: MySQL. - ORM: Hibernate. PROFESSIONAL SKILLS
            Management & Software. CERTIFICATIONS - Student with five good merits (2019 - 2020). - Academic scholarship
            in Semester II (2018 - 2019). - Academic scholarship in Semester I (2019- 2020). - Academic scholarship in
            Semester II (2019- 2020). INTERESTS - Code. - Read book. - Soccer - Join social activities. Dormitory
            Manager Final project of DBMS Programming - Team of 5. - Programming language: C# - Winform Application. -
            Design pattern: Model - View - Controller. - RDBMS: SQL Server. - ORM: ADO. NET. ACTIVITIES The Associated
            Organ of Vietnamese Students’ Association, Faculty of Information Technology, The Ho Chi Minh City
            University of Technology and Education. Vice Chairman - Participate in volunteer activities, organize
            academic contests as well as playgrounds for students,...
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
